server:
#  extraEnvironmentVars:
#    BUCKET: vault
#    ENDPOINT: s3.local.naim.run
#    REGION: us-east-1 # -- Default: us-east-1
#    S3_FORCE_PATH_STYLE: true # -- Default: false
#    DISABLE_SSL: true # -- Default: false

  dataStorage:
    enabled: false

  dev:
    enabled: false

  standalone:
    enabled: false

  ha:
    enabled: true
    replicas: 3
    config: |
      ui = true
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "s3" {
        bucket = "vault"
        endpoint = "s3.local.naim.run"
        region = "us-east-1"
        access_key = "m5OVYpWHiClJuOfG"
        secret_key = "8mjgGqxGQ1VJJ9VpCibvTUKZbSMKFnpf"
        s3_force_path_style = "true"
        disable_ssl = "true"
      }