apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: promtail-appset
  namespace: argocd
  labels:
    name: observability
spec:
  generators:
    - list:
        elements:
          - cluster: management
            url: https://kubernetes.default.svc
            values:
              tag: main
              loki_endpoint: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push
              loki_tenant_id: org1
          - cluster: development
            url: https://172.16.100.69:16443
            values:
              tag: main
              loki_endpoint: https://logs.local.naim.run/loki/api/v1/push
              loki_tenant_id: org1
  template:
    metadata:
      name: 'promtail-{{cluster}}'
      labels:
        name: observability
    spec:
      project: gitops
      source:
        repoURL: https://github.com/tankibaj/gitops-scratch-paper.git
        targetRevision: development
        path: promtail/{{values.tag}}
        helm:
          releaseName: promtail
          values: |
            promtail:
              config:
                clients:
                  - url: '{{values.loki_endpoint}}'
                    tenant_id: '{{values.loki_tenant_id}}'
                    external_labels:
                      cluster: '{{cluster}}'
      destination:
        server: '{{url}}'
        namespace: promtail
      syncPolicy:
        syncOptions:
          - CreateNamespace=true